<div class="back">
<div class="headcomp">
    <ul class="title">
        <li class="brand">Fruits Crush</li>
            <li class="pages"><a>Home</a></li>
            <li class="pages"><a>Cart</a></li>
            <li class="pages selected"><a>My orders</a></li>
        <li class="logout">Logout</li>
    </ul>
</div>
<div>
    <table id="productCartBody">
        <tr>
            <th>ProductName</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
          <tr *ngFor="let orderlist of orderlists">
            <td>{{orderlist.product_name}}</td>
            <td>$ {{orderlist.price * orderlist.quantity}}</td>
            <td>{{orderlist.quantity}} kg</td>
          </tr>
    </table>
</div>
<br><br>
<button class="pay">Pay</button>
</div>